<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="login.css">
    <style>
    </style>
    <title>BIStonks</title>
</head>

<body>

    <!-- LOGIN PAGE -->
    <div class="login-page">
        <div class="wrapper">
            <form id="loginForm">
                <h2>Login</h2>
                <div class="input-field">
                    <input id="inputUsername" type="text" required></input>
                    <label>username</label>
                </div>
                <div class="input-field">
                    <input id="inputPassword" type="password" required></input>
                    <label>password</label>
                </div>
                <div class="forget">
                    <label for="remember">
                        <input type="checkbox" id="remember">
                        <p>Remember me</p>
                    </label>
                    <a href="#" class="forgot_pass">Forgot password?</a>
                </div>
                <input class="start" type="submit" value="Submit">
            </form>
            <p class="dont">Don't have an account?
                <a href="register.html">
                    <button class="reg-butt"> Register </button>
                </a>
                <a href="main.html">
                    <button class="reg-butt"> Main Temp </button>
                </a>
            </p>
        </div>
    </div>

</body>

</html>