<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="template.css">
    <style>
        .hidden {
            display: none;
        }
    </style>
    <title>BIStonks</title>
</head>

<body>

    <!-- LOGIN PAGE -->
    <div class="login-page">
        <div class="wrapper">
            <form id="loginForm">
                <h2>Login</h2>
                <div class="input-field">
                    <input id="inputUsername" type="text" required></input>
                    <label>username</label>
                </div>
                <div class="input-field">
                    <input id="inputPassword" type="password" required></input>
                    <label>password</label>
                </div>
                <div class="forget">
                    <label for="remember">
                        <input type="checkbox" id="remember">
                        <p>Remember me</p>
                    </label>
                    <a href="#" class="forgot_pass">Forgot password?</a>
                </div>
                <input class="start" type="submit" value="Submit">
            </form>
            <p class="dont">Don't have an account?
                <button class="reg-butt" onclick="register()"> Register </button>
            </p>
        </div>
    </div>

    <!-- REGISTER PAGE -->
    <div class="register-page hidden">
        <div class="login-page">
            <div class="wrapper">
                <button class="back" onclick="home()">back
                </button>
                <form id="loginForm">
                    <h2>Register</h2>
                    <div class="input-field">
                        <input id="inputUsername" type="text" required></input>
                        <label>username</label>
                    </div>
                    <div class="input-field">
                        <input type="password" id="regPassword1" name="password" onChange="onChange()"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                            required>
                        <label>password</label>
                    </div>

                    <div class="input-field">
                        <input id="regPassword2" type="password" required></input>
                        <label>confirm password</label>
                    </div>
                    <input class="start" type="submit" value="Submit">
                </form>
                <p class="dont">Don't have an account?
                    <button class="reg-butt" onclick="register()"> Register </button>
                </p>
            </div>
        </div>

        <script>
            function login() {
                document.querySelector('.login-page').classList.add('hidden');
                document.querySelector('.register-page').classList.add('hidden');
            }

            function register() {
                document.querySelector('.register-page').classList.remove('hidden');
                document.querySelector('.login-page').classList.add('hidden');
            }

            function home() {
                document.querySelector('.login-page').classList.remove('hidden');
                document.querySelector('.register-page').classList.add('hidden');
            }
        </script>
</body>
</html>