* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0 10px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: -1;
 }
 

.wrapper {
    width: 25vw;
    height: 65vh;
    border-radius: 10px;
    text-align: center;
    border: solid rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .7);
}

form {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #000000;
    letter-spacing: 3px;
}

.input-field {
    position: relative;
    border-bottom: 2px solid #000000;
    margin: 15px 0;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: black;
    opacity: .6;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.15s ease;
}

.input-field input {
    font-size: 1rem;
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #000000;
}

.input-field input:focus~label,
.input-field input:valid~label {

    font-size: 1rem;
    top: 10px;
    transform: translateY(-120%);
}

.forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 35px 0;
    color: #000000;
}

#remember {
    color: #fff;
}

.forget label {
    display: flex;
    align-items: center;
}

.forget label p {
    font-size: .8rem;
    margin-left: 8px;
}

.wrapper a {
    font-size: .8rem;
    color: #000000;
    text-decoration: none;
}

.start {
    background: #ffffff;
    color: #000;
    font-weight: 00;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 26px;
    border: 2px solid transparent;
    transition: 0.3s ease;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.start:hover {
    color: #000000;
    border-color: #000000;
    background: rgba(255, 255, 255, 0.15);
    padding: 6px 14px;
    font-size: 37px;
}

.reg-butt {
    font-size: .8rem;
    text-align: center;
    margin-top: 25px;
    color: #000000;
    background: transparent;
    border: none;
}

.reg-butt:hover {
    text-decoration: underline;
    color: blue;
}

.forgot_pass:hover {
    text-decoration: underline;
    color: blue;
}

.dont {
    font-size: .8rem;
    color: rgb(0, 0, 0);
}

.back {
    position: absolute;
    top: 8px;
    left: 16px;
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .7);
}

.back:hover {
    border-color: blue;
}